header {
    display: flex;
    background: linear-gradient(to right, rgb(122, 184, 255), rgb(158, 55, 172));
    justify-content: right;
    padding-right: 40px;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar ul li {
    list-style: none;
    padding: 1%;
}

.container {
    padding-left: 5%;
}

.signin-container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 150px;
}

.signin {
    padding: 2%;
    background: linear-gradient(to right, rgb(142, 122, 255), rgb(171, 93, 216));
    box-shadow: 0 0 10px rgb(102, 102, 102);
    border-radius: 15px;
    border-style: hidden;
}

.addtocart {
    background-color: rgb(158, 55, 172);
    color: white;
    border-radius: 15px;
    border-style: hidden;
    margin-top: 20px;
    margin-left: 5px;
    padding: 5px;
    height: 30px;
    width: 80px;
    font-weight: 700;
    font-size: medium;
}

.productdetails {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    gap: 20px;
}

.productdesc {
    display: flex;
    flex-direction: column;
}

table thead {

    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    overflow: scroll;
    box-shadow: 0 0 10px rgb(102, 102, 102);
    max-width: 1120px;
}



table thead tr {
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0 0 10px rgb(102, 102, 102);
}

table thead tr th {
    background-color: rgb(206, 206, 206);
    width: 100px;
}

table thead tr td {
    background-color: rgb(255, 255, 255);
    width: 100px;
}

.Card {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 350px;
    justify-content: space-between;
}


.ProdDesc {
    text-align: left;
    width: 190px;
}

.ProdDesc button {
    font-weight: 1000;
    color: aliceblue;
    background-color: rgb(158, 55, 172);
    width: 50px;
    height: 25px;
    border-style: hidden;
    border-radius: 15px;
}

.title {
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    max-width: 180px;
    max-height: 100px;
    overflow: hidden;
}

.ordercontainer {

    padding-left: 5%;
}

.order {
    display: flex;
    gap: 20px
}

.checkoutsection {
    padding-left: 1%;
    padding-bottom: 1%;
    box-shadow: 0 0 10px rgb(102, 102, 102);
    width: 300px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.checkoutsection button {
    font-weight: 1000;
    color: aliceblue;
    background-color: rgb(158, 55, 172);
    width: 80px;
    height: 25px;
    border-style: hidden;
    border-radius: 15px;
}





.OrderCard {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 700px;
    height: 120px;
    gap: 20px;
    padding-left: 10px;
    justify-content: left;
}


.OrderDesc {
    text-align: left;
    width: 590px;
    padding-bottom: 20px;
}

.ordertitle {
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    max-width: 600px;
    max-height: 100px;
    overflow: hidden;
}

.OrderDesc button {
    font-weight: 1000;
    color: aliceblue;
    background-color: rgb(158, 55, 172);
    width: 80px;
    height: 25px;
    border-style: hidden;
    border-radius: 15px;
}

.ordercontainer table thead {

    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    box-shadow: 0 0 10px rgb(102, 102, 102);
    max-width: 1120px;
    max-height: 400px;
}